body {
  height: 100%;
  width: 100%;
  color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 7px;
       column-gap: 7px;
}

input {
  padding: 5px;
}

input[type=text],
input[type=file] {
  margin-top: 5px;
}

button {
  padding: 7px 15px;
}

a {
  padding: 5px;
}

@media (max-width: 740px) {
  body {
    margin: 1rem;
  }
}
